<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to CryptoHub!
  </h1>
  <!-- <div class="container" *ngFor="let item of frontResult">
    {{item.long}}, Price: {{item.price}}
  </div> -->

  <div>
    <ngx-datatable
        class="dark"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
        <ngx-datatable-column name="long"></ngx-datatable-column>
        <ngx-datatable-column name="price" headerClass="is-gender"></ngx-datatable-column>
        <ngx-datatable-column name="short"></ngx-datatable-column>
        <ngx-datatable-column name="mktcap"></ngx-datatable-column>
        <ngx-datatable-column name="perc"></ngx-datatable-column>
    </ngx-datatable>

  </div>


      <!-- <head>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
      </head>

      <body>
          <div id='trade'> open console </div>
      </body>

      <script type="text/javascript">
          var socket = io.connect('http://socket.coincap.io');
          console.log(socket);
          socket.on('trades', function (tradeMsg) {
              console.log(tradeMsg);
              document.getElementById('trade').innerHTML = JSON.stringify(tradeMsg)
          })
      </script> -->

</div>
